<div class="border-shadow">
    <div class="col-sm-12 grid_padding">

        <div>
            <div class="panel-heading">
                <h3>
                    <i class="{{pageIcon}}" aria-hidden="true"></i>
                    User List
                </h3>
                <a class="btn btn-default pull-right" routerLink="/user">Add <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div>
                <app-grid [DisplayColumns]="displayColumns"
                          [GridData]="gridData"
                          [Loading]="isLoading"
                          [PagingModel]="pagingModel"
                          [ReadAccess]="readAccess"
                          [SearchVisible]="searchVisible"
                          [ValueColumns]="valueColumns"
                          [UpdateAccess]="updateAccess"
                          (notifyUpdate)="editUser($event)"
                          (notifyPaging)="getUserByPaging($event)">
                </app-grid>
            </div>
        </div>
    </div>
</div>

