
<ul class="list">
  <li>
    <div>
      <div class="labelTxtInLine medium">
        <div class="border-shadow">
          <div class="col-sm-12 grid_padding">
            <form *ngIf="form" [formGroup]="form">
              <div class="container-fluid">
                <div class="panel-heading">
                  <h3>
                    <i class="{{pageIcon}}" aria-hidden="true"></i>
                    {{headerText}}
                  </h3>
                </div>
                <div>
                  <div class="row">
                    <div class="col-sm-6" [ngClass]="validation.displayFieldCss('name',form,false)">
                      <div class="form-group">
                        <label for="Name" class="control-label required">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="plant.Name" (focusout)="isPlantNameExists()" placeholder="Plant Name" formControlName="name" />
                        <div style="color:#b94a48;" *ngIf="plantNameExists">
                          <span>Line Name Already Exists</span>
                        </div>
                        <app-validation-message [displayError]="validation.isFieldValid('name',form,false)"
                                                errorMsg="Please Enter name">
                        </app-validation-message>
                      </div>
                    </div>
                    <div class="col-sm-6" [ngClass]="validation.displayFieldCss('description',form,false)">
                      <div class="form-group">
                        <label for="Description" class="control-label required">Description</label>
                        <textarea class="form-control" [(ngModel)]="plant.Description" placeholder="Plant Description" formControlName="description"></textarea>
                        <app-validation-message [displayError]="validation.isFieldValid('description',form,false)"
                                                errorMsg="Please Enter Description">
                        </app-validation-message>
                      </div>
                    </div>
                  </div>
                  <app-cmpyPlantMapping *ngIf="!!plant.Id" #cpMapping [IsPlantVisible]="false" [IsCompanyDisabled]="!!plantId ? true : false"></app-cmpyPlantMapping>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="Active" class="control-label required">Active</label>
                        <div>
                          <label class="radio-inline customcheckradio">
                            <input type="radio" [(ngModel)]="plant.IsActive" [value]="true" [checked]="plant.IsActive" formControlName="active">True
                            <span class="radiomark"></span>
                          </label>
                          <label class="radio-inline customcheckradio">
                            <input type="radio" [(ngModel)]="plant.IsActive" [value]="false" [checked]="!plant.IsActive" formControlName="active">False
                            <span class="radiomark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="btn btn-group pull-right">
                        <button class="btn btn-primary" (click)="onSubmit()">{{buttonText}}</button>
                        <button class="btn" (click)="reset()">Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<ul class="list">
  <li>
    <div class="labelTxtInLine medium">
      <div class="container-fluid">
        <app-member *ngIf="!!plantId" [Id]="plantId" #member [MemberType]="memberType" [MemberHeaderText]="memberHeaderText"></app-member>
      </div>
    </div>
  </li>
</ul>

<app-device-list *ngIf="!!plantId" [AsChild]="isChild"></app-device-list>
